@charset "ISO-8859-1";

@font-face {
	font-family: Quicksand;
	src: url(../fonts/Quicksand_Book.otf);
}

.btn {
	height: 30px;
	border-radius: 15px;
	line-height: 15px;
}

.btn-primary {
	  background: -webkit-linear-gradient(bottom, #0040e0, #0000e0);
	  background: -o-linear-gradient(bottom, #0040e0, #0000e0);
	  background: -moz-linear-gradient(bottom, #0040e0, #0000e0);
	  background: linear-gradient(bottom, #0040e0,  #0000e0);
	  position: relative;
	  z-index: 1;
	
	  -webkit-transition: all 0.4s;
	  -o-transition: all 0.4s;
	  -moz-transition: all 0.4s;
	  transition: all 0.4s;
}

.btn-primary:hover {
	  background: -webkit-linear-gradient(bottom, #000033, #000080);
	  background: -o-linear-gradient(bottom, #000033, #000080);
	  background: -moz-linear-gradient(bottom, #000033, #000080);
	  background: linear-gradient(bottom, #000033,  #000080);
	  position: relative;
	  z-index: 1;
	
	  -webkit-transition: all 0.4s;
	  -o-transition: all 0.4s;
	  -moz-transition: all 0.4s;
	  transition: all 0.4s;
}


.btn-danger {
	  background: -webkit-linear-gradient(bottom, #ff0000, #e00000);
	  background: -o-linear-gradient(bottom, #ff0000, #e00000);
	  background: -moz-linear-gradient(bottom, #ff0000, #e00000);
	  background: linear-gradient(bottom, #ff0000,  #e00000);
	  position: relative;
	  z-index: 1;
	
	  -webkit-transition: all 0.4s;
	  -o-transition: all 0.4s;
	  -moz-transition: all 0.4s;
	  transition: all 0.4s;
}

.btn-danger:hover {
	  background: -webkit-linear-gradient(bottom, #660000, #990000);
	  background: -o-linear-gradient(bottom, #660000, #990000);
	  background: -moz-linear-gradient(bottom, #660000, #990000);
	  background: linear-gradient(bottom, #660000,  #990000);
	  position: relative;
	  z-index: 1;
	
	  -webkit-transition: all 0.4s;
	  -o-transition: all 0.4s;
	  -moz-transition: all 0.4s;
	  transition: all 0.4s;
}

.btn-warning {
	  background: -webkit-linear-gradient(bottom, #f0ad4e, #ff6600);
	  background: -o-linear-gradient(bottom, #f0ad4e, #ff6600);
	  background: -moz-linear-gradient(bottom, #f0ad4e, #ff6600);
	  background: linear-gradient(bottom, #f0ad4e,  #ff6600);
	  position: relative;
	  z-index: 1;
	
	  -webkit-transition: all 0.4s;
	  -o-transition: all 0.4s;
	  -moz-transition: all 0.4s;
	  transition: all 0.4s;
}


 .btn-warning:hover {
	  background: -webkit-linear-gradient(bottom, #cc5200, #993d00);
	  background: -o-linear-gradient(bottom, #cc5200, #993d00);
	  background: -moz-linear-gradient(bottom, #cc5200, #993d00);
	  background: linear-gradient(bottom, #cc5200,  #993d00);
	  position: relative;
	  z-index: 1;
	
	  -webkit-transition: all 0.4s;
	  -o-transition: all 0.4s;
	  -moz-transition: all 0.4s;
	  transition: all 0.4s;
}


.btn-success {
	  background: -webkit-linear-gradient(bottom, #33cc33, #40bf40);
	  background: -o-linear-gradient(bottom, #33cc33, #40bf40);
	  background: -moz-linear-gradient(bottom, #33cc33, #40bf40);
	  background: linear-gradient(bottom, #33cc33,  #40bf40);
	  position: relative;
	  z-index: 1;
	
	  -webkit-transition: all 0.4s;
	  -o-transition: all 0.4s;
	  -moz-transition: all 0.4s;
	  transition: all 0.4s;
}

.btn-success:hover {
	  background: -webkit-linear-gradient(bottom, #009933, #006600);
	  background: -o-linear-gradient(bottom, #009933, #006600);
	  background: -moz-linear-gradient(bottom, #009933, #006600);
	  background: linear-gradient(bottom, #009933,  #006600);
	  position: relative;
	  z-index: 1;
	
	  -webkit-transition: all 0.4s;
	  -o-transition: all 0.4s;
	  -moz-transition: all 0.4s;
	  transition: all 0.4s;
}




.login-button {

}

body {
	font-family: Quicksand;
	background-repeat: no-repeat;
	background-position: 0 0;
	-moz-background-size: cover;
	-webkit-background-size: cover;
    background-size: cover;
    color: white;
}

.first {
	padding-top: 100px;
}

.container {
	width: 100%;
}

.panel-default {
	border-color: rgb(8,8,8);
}

.panel {
	background-color: rgba(32,32,32,0.8);
}

.label {
	font-size: 20px;
	text-align: left;
	text-decoration: bold;
	color: white;
}

.content {
	font-size: 20px;
	text-align: left;
	color: white;
}

h1 {
	width: 100%;
	text-align: center;
	font-weight: 700;
	font-size: 500%;
}

h2 {
	width: 100%;
	text-align: center;
	font-weight: 700;
	font-size: 200%;
}

table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

select {
	background-color: rgb(32,32,32);
	border-color: rgb(8,8,8);
}

input {
	background-color: rgb(32,32,32);
	border-color: rgb(8,8,8);
}

p {
	width: 100%;
	font-size: 150%;
	text-align: center;
}

.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

th, td {
	padding-left: 10px;
	padding-right: 10px;
}

.btn-center {
	margin-left: auto;
	margin-right: auto;
	display: inherit;
}

.description {
	font-size: 22pt;
	text-align: justify;
    text-justify: inter-word;
}

.a_button:hover {
	color: #ffff;
	text-decoration: none;
}

.navbar-btn {
		margin-left: 5px;
		margin-right: 5px;
		margin-top: 10px;
		height:100%;
	}

@media screen and (max-width:767px) {
	h1 {
		font-size: 300%;
	}
	
	.navbar-btn {
		margin: 5px;
		width: 250px;
		height: 40px;
	}
}