@charset "ISO-8859-1";

@font-face {
	font-family: Quicksand;
	src: url(../fonts/Quicksand_Book.otf);
}

body {
	font-family: Quicksand;
    background-position: center;
	background-repeat: no-repeat;
	background-position: 0 0;
	-moz-background-size: cover;
	-webkit-background-size: cover;
    background-size: cover;
    color: white;
}

.first {
	padding-top: 100px;
}

.col-md-4 {
	font-size: 18px;
}

.container {
	width: 100%;
}

.panel-default {
	border-color: rgb(8,8,8);
}

.panel {
	background-color: rgba(32,32,32,0.8);
}

.label {
	text-align: left;
	text-decoration: bold;
	color: white;
}

td, th {
	padding-left: 25px;
}

h1 {
	width: 100%;
	text-align: center;
	text-decoration: bold;
	font-size: 500%;
}