<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ProgettoDAOTaxi</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>ats.controllo.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>ats.controllo.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegistrazioneServlet</servlet-name>
    <servlet-class>ats.controllo.servlet.RegistrazioneServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUtenteServlet</servlet-name>
    <servlet-class>ats.controllo.servlet.UpdateUtenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistrazioneServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUtenteServlet</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveIdToUpdateUtenteServlet</servlet-name>
    <servlet-class>ats.controllo.servlet.SaveIdToUpdateUtenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveIdToUpdateUtenteServlet</servlet-name>
    <url-pattern>/saveIdToUpdateUtente</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>SessionFilter</filter-name>
    <filter-class>ats.controllo.filters.SessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/profile</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>ats.controllo.filters.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ValidazioneUtenteFilter</filter-name>
    <filter-class>ats.controllo.filters.ValidazioneUtenteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ValidazioneUtenteFilter</filter-name>
    <url-pattern>/register</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ValidazioneUtenteFilter</filter-name>
    <url-pattern>/admin/registrazioneAutista</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ValidazioneUtenteFilter</filter-name>
    <url-pattern>/update</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ValidazioneUtenteFilter</filter-name>
    <url-pattern>/admin/updateAutista</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ValidazioneTaxiFilter</filter-name>
    <filter-class>ats.controllo.filters.ValidazioneTaxiFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ValidazioneTaxiFilter</filter-name>
    <url-pattern>/admin/inserisciTaxi</url-pattern>
  </filter-mapping>
  <filter-mapping>
  <filter-name>ValidazioneTaxiFilter</filter-name>
  <url-pattern>/admin/updateTaxi</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>PrenotazioneViaggioFilter</filter-name>
    <filter-class>ats.controllo.filters.PrenotazioneViaggioFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PrenotazioneViaggioFilter</filter-name>
    <url-pattern>/cliente/preventivo</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ClienteFilter</filter-name>
    <filter-class>ats.controllo.filters.ClienteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ClienteFilter</filter-name>
    <url-pattern>/cliente/*</url-pattern>
  </filter-mapping>
</web-app>